@media all and (min-width:1024px) {}

@media all and (min-width:960px) and (max-width: 1024px) {}

@media all and (min-width:801px) and (max-width: 959px) {}

@media all and (min-width:769px) and (max-width: 800px) {}

@media all and (min-width:569px) and (max-width: 768px) {}

@media all and (min-width:481px) and (max-width: 568px) {
  .Header_button {
    display: none;
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  .Header_button {
    display: none;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  .Header_button {
    display: none;
  }
}
#clickable_icon
{
  position: fixed;
  right: 0%;
  top:0%;
  background-color: #5D5C61;
  width:40%;
}
#icon
{
  position: absolute;
  right: 0%;
}
body
{
  background-color: Gray;
}
#Header
{
  background-color:#5D5C61;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
}
